---
layout: default
title: CV — Fosco G. Loregian
nav_active: Home
---

{% include nav.html %}

<div class="cv-container">
	<h1>{{ site.data.cv.personal_info.name }}</h1>
	<p class="tagline">{{ site.data.cv.personal_info.tagline }}</p>

	<h2>Current Position</h2>
	{% for position in site.data.cv.current_position %}
	<div class="cv-item">
		<div class="cv-details">
						<h3 class="cv-title">{{ position.title }}</h3>
						<p class="cv-institution">{{ position.institution }}</p>
		</div>
		<div class="cv-dates">
						<span class="cv-date-from">{{ position.from }}</span> – 
						<span class="cv-date-to">now</span>
		</div>
</div>
	{% endfor %}

	<h2>Past Positions</h2>
	{% for position in site.data.cv.past_positions %}
	<div class="cv-item">
					<div class="cv-details">
									<h3 class="cv-title">{{ position.title }}</h3>
									<p class="cv-institution">{{ position.institution }} | <b>{{ position.location }}</b></p>
					</div>
					<div class="cv-dates">
									<span class="cv-date-from">{{ position.from }}</span> – 
									<span class="cv-date-to">{{ position.to }}</span>
					</div>
	</div>
	{% endfor %}

	<h2>Education</h2>
	{% for item in site.data.cv.education %}
	<div class="cv-item">
		<div class="cv-details">
						<h3 class="cv-title">{{ item.degree }}</h3>
						<p class="cv-institution">{{ item.institution }} | <b>{{ item.location }}</b></p>
		</div>
		<div class="cv-dates">
						<span class="cv-date-from">{{ item.from }}</span> – 
						<span class="cv-date-to">{{ item.to }}</span>
		</div>
</div>
	{% endfor %}
</div>

{% include footer.html %}
