---
layout: default
---

<header id="about-me">
	<div class="card">
  <div class="card-image">
    <img src="../assets/snelli-me.jpg" alt="Your Picture">
  </div>
  <div class="card-content">
    <h2 class="name">{{ site.data.profile.name }}</h2>
    <div class="motto">{{ site.data.profile.motto }}</div>
    <p class="bio">{{ site.data.profile.bio }}</p>
  </div>
</div>


</header>

<nav>
	<a href="#about-me" class="subNavBtn active">About</a>
	<a href="#stuff-i-do" class="subNavBtn">Stuff</a>
	<a href="#contacts" class="subNavBtn">Contacts</a>
	<a href="#teaching" class="subNavBtn">Teaching</a>
	<!-- <a href="#magia" class="subNavBtn">Magia</a> -->
</nav>

<div class="publications-container" id="stuff-i-do">
	{% assign pubs = site.data.pub | sort: 'year' | reverse %}
	
	{% for pub in pubs %}
	<div class="publication">
			<h3 class="pub-title">{{ pub.title }}</h3>
			<p class="pub-authors">{{ pub.authors }}</p>
			<p class="pub-venue">
					<span class="venue-name">{{ pub.venue }}</span>, 
					<span class="pub-year">{{ pub.year }}</span>
			</p>
			
			<div class="pub-links">
					{% if pub.doi %}
					<a href="https://doi.org/{{ pub.doi }}" class="pub-link doi-link" target="_blank">DOI</a>
					{% endif %}
					
					{% if pub.url %}
					<a href="{{ pub.url }}" class="pub-link paper-link" target="_blank">Paper</a>
					{% endif %}
			</div>
			
			{% if pub.tags %}
			<div class="pub-tags">
					{% for tag in pub.tags %}
					<span class="tag">{{ tag }}</span>
					{% endfor %}
			</div>
			{% endif %}
	</div>
	{% endfor %}
</div>
<!-- preprints -->
<!-- <div class="publications-container">
{% assign pres = site.data.preprints | sort: 'year' | reverse %}
	
{% for pub in pres %}
<div class="publication">
		<h3 class="pub-title">{{ pub.title }}</h3>
		<p class="pub-authors">{{ pub.authors }}</p>
		<p class="pub-venue">
				<span class="venue-name">{{ pub.venue }}</span>, 
				<span class="pub-year">{{ pub.year }}</span>
		</p>
		
		<div class="pub-links">
				{% if pub.doi %}
				<a href="https://doi.org/{{ pub.doi }}" class="pub-link doi-link" target="_blank">DOI</a>
				{% endif %}
				
				{% if pub.url %}
				<a href="{{ pub.url }}" class="pub-link paper-link" target="_blank">Paper</a>
				{% endif %}
		</div>
		
		{% if pub.tags %}
		<div class="pub-tags">
				{% for tag in pub.tags %}
				<span class="tag">{{ tag }}</span>
				{% endfor %}
		</div>
		{% endif %}
</div>
{% endfor %}
</div>
</div> -->


<div class="teaching-container" id="teaching">
	<h2>📖 Teaching & Organizational Activities</h2>
	{% for item in site.data.teaching.teaching_activities %}
	<div class="teaching-item">
					<div class="teaching-header">
									<h4 class="teaching-title">{{ item.title }}</h4>
									{% if item.date %}
									<span class="teaching-date">| {{ item.date }}</span>
									{% endif %}
					</div>
					{% if item.description %}
					<p class="teaching-desc">{{ item.description }}</p>
					{% endif %}
	</div>
	{% endfor %}

	<h2>🎓 Supervision of Students</h2>
	{% for item in site.data.teaching.supervision_of_students %}
	<div class="supervision-item">
					<div class="supervision-header">
									<h4 class="supervision-title">{{ item.title }}</h4>
									{% if item.date %}
									<span class="supervision-date">| {{ item.date }}</span>
									{% endif %}
					</div>
					<p class="supervision-student"><em>Student: {{ item.student }}</em></p>
					{% if item.description %}
					<p class="supervision-desc">{{ item.description }}</p>
					{% endif %}
	</div>
	{% endfor %}
</div>

<!-- <div class="magia-container" id="magia">
	<h3>Magia</h3>
	... rebuilding
</div> -->
<div class="notes-container" id="notes">
	<h3>📝 Notes, Drafts, Talks</h3>
	<ul class="notes-list">
					{% for note in site.data.notes %}
					<li class="note-item">
									<a href="{{ note.url }}" class="note-link" target="_blank">
													📄 {{ note.title }}
									</a>
					</li>
					{% endfor %}
	</ul>
</div>



<footer>
	<section id="contacts">
			<div class="contact-container">
					<div class="contact-map">
						<iframe 
						src="https://maps.google.com/maps?q=Akadeemia+tee+21B,+Tallinn,+Estonia&hl=en&output=embed" 
						width="400" 
						height="250" 
						style="border:0;" 
						allowfullscreen="" 
						loading="lazy">
				</iframe>
				
					</div>
					<div class="contact-info">
							<h2>Contacts</h2>
							<h5>Fosco G. Loregian</h5>
							<ul>
									<li><strong>📍 Address:</strong> Akadeemia tee 21B, 12618 Tallinn, Estonia 🇪🇪</li>
									<li><strong>📧 Email:</strong> <a href="mailto:fosco.loregian@gmail.com">fosco.loregian@gmail.com</a></li>
									<li><strong>📧 Email:</strong> <a href="mailto:folore@ttu.ee">folore@ttu.ee</a>
									</li>
									<li><strong>💻 GitHub:</strong> <a href="https://github.com/tetrapharmakon" target="_blank">tetrapharmakon</a></li>
							</ul>
					</div>
			</div>
	</section>
</footer>

