---
layout: default
nav_active: Notes
---

{% include nav.html %}

<div class="notes-container" id="notes">
	<h3>Notes, Drafts, Talks</h3>
	<div class="notes-grid">
		{% for note in site.data.notes %}
		<div class="note-card">
			<h4 class="note-title">
				{% if note.type == "talk" %}
				🎤
				{% elsif note.type == "note" %}
				📝
				{% elsif note.type == "dida" %}
				📚
				{% endif %}
				<a href="{{ note.url }}" class="note-link" target="_blank">
					{{ note.title }}
				</a>
			</h4>
			{% if note.description %}
			<p class="note-description">{{ note.description }}</p>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>

<div class="notes-container" id="notes">
	<h3>Magia Mathematica</h3>
	<div class="notes-grid">
		{% for thing in site.data.magia %}
		<div class="note-card">
			<h4 class="note-title">
				<a href="{{ thing.url }}" class="note-link" target="_blank">
					📄 {{ thing.title }}
				</a>
			</h4>
			{% if thing.description %}
			<p class="note-description">{{ thing.description }}</p>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</div>

{% include footer.html %}
