---
layout: default
---

<nav>
	<a href="index.html" class="subNavBtn active">About</a>
	Maths
	<a href="#contacts" class="subNavBtn">Contacts</a>
	<a href="teaching.html" class="subNavBtn">Teaching</a>
	<a href="notes.html" class="subNavBtn">Notes</a>
</nav>

<div class="publications-container" id="stuff-i-do">
 <p>My work. Mostly category theory.</p>
	{% assign pubs = site.data.pub | sort: 'year' | reverse %}
	
	{% for pub in pubs %}
	<div class="publication">
			<h3 class="pub-title">{{ pub.title }} | 🔗
    {% if pub.doi %}
    <a href="https://doi.org/{{ pub.doi }}" class="pub-link doi-link" target="_blank">DOI</a>
    {% endif %}
    
    {% if pub.url %}
    <a href="{{ pub.url }}" class="pub-link paper-link" target="_blank">Paper</a>
    {% endif %}
   </h3>
			<p class="pub-authors">{{ pub.authors }}</p>
			<p class="pub-venue">
					<span class="venue-name">{{ pub.venue }}</span>, 
					<span class="pub-year">{{ pub.year }}</span>
			</p>
			
			<div class="pub-links">

			</div>
			
			{% if pub.tags %}
			<div class="pub-tags">
					{% for tag in pub.tags %}
					<span class="tag">{{ tag }}</span>
					{% endfor %}
			</div>
			{% endif %}
	</div>
	{% endfor %}
</div>

<footer>
	<section id="contacts">
			<div class="contact-container">
					<div class="contact-map">
						<iframe 
						src="https://maps.google.com/maps?q=Akadeemia+tee+21B,+Tallinn,+Estonia&hl=en&output=embed" 
						width="400" 
						height="250" 
						style="border:0;" 
						allowfullscreen="" 
						loading="lazy">
				</iframe>
				
					</div>
					<div class="contact-info">
							<h2>Contacts</h2>
							<h5>Fosco G. Loregian</h5>
							<ul>
									<li><strong>📍 Address:</strong> Akadeemia tee 21B | 12618 Tallinn | Estonia 🇪🇪</li>
									<li><strong>📧 Email:</strong> <a href="mailto:fosco.loregian@gmail.com">fosco.loregian@gmail.com</a></li>
									<li><strong>📧 Email:</strong> <a href="mailto:folore@ttu.ee">folore@ttu.ee</a>
									</li>
									<li><strong>💻 GitHub:</strong> <a href="https://github.com/tetrapharmakon" target="_blank">tetrapharmakon</a></li>
							</ul>
					</div>
			</div>
	</section>
</footer>

