html {
  font: 16px/2rem "Merriweather";
  text-align: justify;
  padding: 2rem;

  /*background-image:
    repeating-linear-gradient(0deg,transparent,transparent 15px,#CCC 15px,#CCC 16px),
    repeating-linear-gradient(-90deg,transparent,transparent 15px,#CCC 15px,#CCC 16px);
  background-size: 16px 16px;*/

}

@media (min-width: 36rem) {
  html { 
    max-width: 44rem;
    margin: auto;
    padding-bottom: calc(50vw - 22rem);
  }
}


h1 {
  text-align: center;
}

h1, h2 {
  font-family: "Oswald";
  font-weight: 300;
  margin: 3rem 0 2rem 0;
}



a {
  color: #000;
  /*text-decoration: underline;*/
}


ul, ol {
  list-style-position: inside;
  padding: 0;
}

li ul, li ol {
  margin: 0 2rem;
}

dl dd {
  margin-left: 2rem;
}