html {
  font: 16px/2rem "Merriweather";
  text-align: justify;
  padding: 2rem;

  /*background-image:
    repeating-linear-gradient(0deg,transparent,transparent 15px,#CCC 15px,#CCC 16px),
    repeating-linear-gradient(-90deg,transparent,transparent 15px,#CCC 15px,#CCC 16px);
  background-size: 16px 16px;*/

}

@media (min-width: 36rem) {
  html { 
    max-width: 44rem;
    margin: auto;
    padding-bottom: calc(50vw - 22rem);
  }
}


h1 {
  text-align: center;
}

h1, h2 {
  font-family: "Oswald";
  font-weight: 300;
  margin: 3rem 0 2rem 0;
}



a {
  display: inline-block;
  position: relative;
  color: #000;
  text-decoration: none;
}


a:hover {
  color: #000;
}

a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: blue;
    transition: width .5s ease;
}
a:hover:before {
    width: 100%;
    background: blue;
    transition: width .5s ease;
}
a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}