@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Oswald:300|Merriweather:400italic,400,300,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);
@import url(syntax.css);

html {
  font: 16px/2rem "Merriweather";
  text-align: justify;

  /*background-image:
    repeating-linear-gradient(0deg,transparent,transparent 15px,#CCC 15px,#CCC 16px),
    repeating-linear-gradient(-90deg,transparent,transparent 15px,#CCC 15px,#CCC 16px);
  background-size: 16px 16px;*/

}

body {
  margin: 2rem;
}

@media (min-width: 48rem) {
  body { 
    max-width: 44rem;
    margin: 6rem auto;
  }
}


h1, h2, h3 {
  font-family: "Oswald";
  font-weight: 300;
}

h1 {
  text-align: center;
  margin: 6rem 0 3rem 0;
}

h2 {
  margin: 6rem 0 3rem 0;
}

h3 {
  margin: 4rem 0 2rem 0;
}


a {
  color: #000;
  /*text-decoration: underline;*/
}


ul, ol {
  list-style-position: inside;
  padding: 0;
}

li ul, li ol {
  margin: 0 2rem;
}

dl dd {
  margin-left: 1rem;
}

dt small {
  float:right;
  font-weight: 300;
  display: none;
}

dd p {
  margin: 0;
}

dt + dd {
  margin-bottom:1rem
}

dd + dt {
  margin-top:1rem
}



hr {
  margin: 6rem;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


pre {
  font: 1rem/1rem "Inconsolata";
  width: 40rem;
  margin: 2rem auto;
}

pre code {
  font: inherit;
}

.credits{
  text-align: center;
}

