---
layout: default
---

<nav>
	<a href="index.html" class="subNavBtn active">About</a>
	<a href="stuff-i-do.html" class="subNavBtn">Maths</a>
	<a href="#contacts" class="subNavBtn">Contacts</a>
	Teaching
	<a href="notes.html" class="subNavBtn">Notes</a>
</nav>

<div class="teaching-container" id="teaching">
	<h2>📖 Teaching & Organizational Activities</h2>
	{% for item in site.data.teaching.teaching_activities %}
	<div class="teaching-item">
					<div class="teaching-header">
									<h4 class="teaching-title">{{ item.title }}</h4>
									{% if item.date %}
									<span class="teaching-date">| {{ item.date }}</span>
									{% endif %}
					</div>
					{% if item.description %}
					<p class="teaching-desc">{{ item.description }}</p>
					{% endif %}
	</div>
	{% endfor %}

	<h2>🎓 Supervision of Students</h2>
	{% for item in site.data.teaching.supervision_of_students %}
	<div class="supervision-item">
					<div class="supervision-header">
									<h4 class="supervision-title">{{ item.title }}</h4>
									{% if item.date %}
									<span class="supervision-date">| {{ item.date }}</span>
									{% endif %}
					</div>
					<p class="supervision-student"><em>Student: {{ item.student }}</em></p>
					{% if item.description %}
					<p class="supervision-desc">{{ item.description }}</p>
					{% endif %}
	</div>
	{% endfor %}
</div>

<footer>
	<section id="contacts">
			<div class="contact-container">
					<div class="contact-map">
						<iframe 
						src="https://maps.google.com/maps?q=Akadeemia+tee+21B,+Tallinn,+Estonia&hl=en&output=embed" 
						width="400" 
						height="250" 
						style="border:0;" 
						allowfullscreen="" 
						loading="lazy">
				</iframe>
				
					</div>
					<div class="contact-info">
							<h2>Contacts</h2>
							<h5>Fosco G. Loregian</h5>
							<ul>
									<li><strong>📍 Address:</strong> Akadeemia tee 21B | 12618 Tallinn | Estonia 🇪🇪</li>
									<li><strong>📧 Email:</strong> <a href="mailto:fosco.loregian@gmail.com">fosco.loregian@gmail.com</a></li>
									<li><strong>📧 Email:</strong> <a href="mailto:folore@ttu.ee">folore@ttu.ee</a>
									</li>
									<li><strong>💻 GitHub:</strong> <a href="https://github.com/tetrapharmakon" target="_blank">tetrapharmakon</a></li>
							</ul>
					</div>
			</div>
	</section>
</footer>

