<footer>
  <section id="contacts">
    <div class="contact-container">
      <div class="contact-map">
        <iframe 
          src="https://maps.google.com/maps?q=Akadeemia+tee+15a,+Tallinn,+Estonia&hl=en&output=embed" 
          width="400" 
          height="250" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy">
        </iframe>
      </div>
      <div class="contact-info">
        <h2>Contacts</h2>
        <h5>Fosco G. Loregian</h5>
        <ul>
          <li><strong>📍 Address:</strong> Akadeemia tee 15a | 12618 Tallinn | Estonia 🇪🇪</li>
          <li><strong>📧 Email:</strong> <a href="mailto:fosco.loregian@gmail.com">fosco.loregian@gmail.com</a></li>
          <li><strong>📧 Email:</strong> <a href="mailto:folore@ttu.ee">folore@ttu.ee</a></li>
          <li><strong>💻 GitHub:</strong> <a href="https://github.com/tetrapharmakon" target="_blank">tetrapharmakon</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
