<dt id="{{ thing.slug }}">
    <a href="#{{ thing.slug }}">{{ thing.status }} {{ thing.title }}</a>
    <time>
        {% assign dateFromYear = thing.datefrom | date: '%Y' %} {% assign dateToYear = thing.dateto | date: '%Y'
        %} {% assign dateFromMonth = thing.datefrom | date: '%m' %} {% assign dateToMonth = thing.dateto | date:
        '%m' %} {% if dateFromYear == dateToYear %} {% if dateFromMonth != dateToMonth %} {{ thing.datefrom |
        date: '%b' }} - {% endif %} {{ thing.dateto | date: '%b %Y' }} {% else %} {{ thing.datefrom | date: '%b
        %Y' }} – {{ thing.dateto | date: '%b %Y' }} {% endif %}
    </time>
</dt>
<dd>{{ thing.content }}</dd>