html {
	box-sizing: border-box;
	color: $body-colour;
	background-color: $background-colour;
	background-image: url('../assets/footer2-faded.png');
	background-repeat: repeat-y;
	background-position: center top;
	background-size: auto 100vh;
	hyphens: auto;
}

@media (min-width: 200vh) {
	html {
		background-size: 100vw auto;
		background-position: center calc(100% + 50vw - 100vh);
	}
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 14px;
	line-height: 1.5;
	max-width: 35em;
	margin: auto;
	color: #28293e;
}

* {
	box-sizing: inherit;
}

a {
	color: #28293e;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: $accent-colour;
}

a[href^="http://"]:not([href*="example.com"]),
a[href^="https://"]:not([href*="example.com"]) {
	border-bottom: 1px dotted $accent-colour;
}

p {
	margin-top: 0;
	text-align: justify;
	margin-bottom: 2.5rem;
	color: #28293e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', serif;
	font-weight: 300;
	color: #605f73;
}

h1 {
	font-size: 4rem;
	line-height: 1.2;
}
h2 {
	font-size: 3.6rem;
	line-height: 1.25;
}
h3 {
	font-size: 3rem;
	line-height: 1.3;
}
h4 {
	font-size: 2.4rem;
	line-height: 1.35;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
}
h6 {
	font-size: 1.6rem;
	line-height: 1.4;
}

@media (min-width: 35rem) {
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 4.2rem;
	}
	h3 {
		font-size: 3.6rem;
	}
	h4 {
		font-size: 3rem;
	}
	h5 {
		font-size: 2.4rem;
	}
	h6 {
		font-size: 1.5rem;
	}
}

header,
section,
footer {
	/*    border: $accent-colour solid 1px;*/
	min-height: 100vh;
	margin-bottom: 25vh;
}

footer {
	font-weight: bold;
	color: $accent-colour;
	text-shadow: 0px 0px 4px white, 0 0 8px white, 0 0 16px white;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 5em;
}

.name {
	border-bottom: solid $accent-colour 5px;
	margin: 0.6em;
	width: auto;
}

.motto {
	width: 100%;
	text-align: center;
	margin-top: -2em;
}

@media (min-width: 35rem) {
	.card {
		flex-direction: row;
	}
	.bio {
		flex-grow: 1;
		width: 20em;
	}
}

.avatar {
	width: 220px;
	height: 220px;
	margin: auto;
	@include border-radius(100px);
	background: url(../assets/rome_me.jpeg) no-repeat;
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: 220px auto;
}

.bio {
	margin: auto;
	padding: 2em;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
	z-index: 1000;
	width: 100%;
	@include nav-gradient($background-colour, 25%);
}

nav a {
	width: 20%;
	text-align: center;
	padding: 16px 2% 4px 2%;
	margin-bottom: 8px;
}

nav a.active {
	border-bottom: $accent-colour 2px solid;
	border-radius: 4px;
}

dt > time {
	float: right;
}

dl,
ol,
ul {
	margin-bottom: 5em;
}

dt,
dd,
li {
	margin: 0;
	margin-top: 2em;
}

dd {
	margin-bottom: 5em;
}
