/* --------------------------------------------------------------- TYPEFACES */
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Oswald:300|Merriweather:400italic,400,300,700);

/* --------------------------------------------------------------- NORMALIZE */
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

/* ----------------------------------------------------- SYNTAX HIGHLIGHTING */
@import url(highlight.css);

/* ------------------------------------------------------- RESPONSIVE LAYOUT */

/*
  Small screens: interpolate font size and viewport width
                 between 16px@400px and 20px@800px
*/
html {
  font-size: calc(12px + (100vw / 100));
}
body {
  margin: 2rem;
}
/*
  Big screens: fixed font size
*/
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
  body { 
    max-width: 36rem;
    margin: auto;
  }
}

/* -------------------------------------------------------------- INSTA GRID */
.gridded {
  background-image:
    repeating-linear-gradient(
      0deg,
      transparent, 
      transparent calc(1rem - 1px),
      lightgrey   calc(1rem - 1px),
      lightgrey        1rem
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(1rem - 1px),
      lightgrey   calc(1rem - 1px),
      lightgrey        1rem
    );
  background-size: 1rem 1rem;
}

/* -------------------------------------------------------------------- BODY */
body {
  font: 1rem/2rem Merriweather, serif;
  text-align: justify;
}

/* ---------------------------------------------------------------- HEADINGS */
h1, h2, h3/*, h4, h5, h6*/ {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  margin: 6rem 0 3rem 0;
}

h1 { font-size: 3rem; line-height: 3rem; }
h2 { font-size: 2rem; line-height: 2rem; }
h3 { font-size: 1rem; line-height: 1rem; }

/* -------------------------------------------------------------------- CODE */


code {
  font: 1.2rem Inconsolata, monospace;
}

pre, pre code {
  font: 0.9rem/1rem Inconsolata, monospace;
}

/*pre {
  width: 40rem;
  margin: 2rem auto;
}*/















a {
  color: #000;
}






ul, ol {
  list-style-position: inside;
  padding: 0;
}

li ul, li ol {
  margin: 0 2rem;
}


dl dd {
  margin-left: 1rem;
}

dd p {
  margin: 0;
}

dt + dd {
  margin-bottom:1rem
}

dd + dt {
  margin-top:1rem
}




#epistolae .draft * {
  font-weight: lighter!important;
  color: dimgrey!important;
}

#epistolae dt a {
  float: left;
}

#epistolae dt small {
  font-weight: lighter;
  float: right;
}

#epistolae dd {
  clear: both;
}

#epistolae dt+dd {
  margin-bottom: 2rem;
}

#epistolae dd+dt {
  margin-top: 2rem;
}



hr {
  margin: 6rem;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}


.hidden {
  display:none;
}






footer {
  text-align: center;
}

#credits{
  font-size: small;
  margin-top: -5rem;
  margin-bottom: 5rem;
}

address {
  margin: 6rem;
}



/*


figure {
  width: 44rem;
  margin: 2rem auto;
}

figure img {
  display: block;
  margin: auto;
}


footer nav {
  text-align: center;
}






#wu {
  overflow: visible;
  display: block;
  margin: auto;
}

.wu path {
  fill: black;
  stroke: grey;
  stroke-width: 1px;
}


*/