---
layout: compress
---

<!DOCTYPE html>
<html{% if page.language %} lang="{{page.language}}"{% endif %}>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="{{site.author.name}}">
        <title>{{page.title}}</title>

        {% unless site.feedless %}
            <link rel='alternate' type='application/atom+xml'
                title='Atom feed for {{site.url}}'
                href='{{site.baseurl}}/atom.xml'>
        {% endunless %}

        {% if site.favicon %}
            <link rel="icon" type="image/png" href="{{site.favicon}}">
        {% endif %}

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />

        {% for sheet in site.css %}
            <link rel="stylesheet" href="{{sheet}}"/>
        {% endfor %}

        {% for script in site.js.early %}
            <script type="text/javascript" src="{{script}}"/></script>
        {% endfor %}

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.css"
            integrity="sha384-exe4Ak6B0EoJI0ogGxjJ8rn+RN3ftPnEQrGwX59KTCl5ybGzvHGKjhPKk/KC3abb"
            crossorigin="anonymous" />

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/katex.min.js"
            integrity="sha384-OMvkZ24ANLwviZR2lVq8ujbE/bUO8IR1FdBrKLQBI14Gq5Xp/lksIccGkmKL8m+h"
            crossorigin="anonymous"></script>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha2/contrib/auto-render.min.js"
            integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L"
            crossorigin="anonymous"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                renderMathInElement(
                    document.body,
                    {
                        delimiters: [
                            {left: "$$", right: "$$", display: true},
                            {left: "\\[", right: "\\]", display: true},
                            {left: "$", right: "$", display: false},
                            {left: "\\(", right: "\\)", display: false}
                        ]
                    }
                );
            });
        </script>
    </head>

    <body>
        {{content}}
        {% for script in site.js.late %}
            <script type="text/javascript" src="{{script}}"/></script>
        {% endfor %}
    </body>
</html>
