<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header class="header">
      <nav>
        <a href="{{ site.baseurl }}" title="index">index</a>
        <a href="{{ site.baseurl }}atom.xml" title="feed">feed</a>
        <a href="{{ site.baseurl }}about.html" title="about">about</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="footer">
    <!--  <small>
        &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
      </small>-->
    </footer>

  </body>
</html>
