<!DOCTYPE html>
<html>


  <head>

    <meta charset="UTF-8">
    <meta name="author" content="{{site.author.name}}">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/style.css"/>
    {% include javascript %}

  </head>


  <body>

    {% if page.tags contains 'headless' %}{% else %}
    <header><h1>{{page.title}}</h1></header>
    {% endif %}

    <main>{{content}}</main>

    {% if page.tags contains 'footless' %}{% else %}
    <footer>{% include footer %}</footer>
    {% endif %}

  </body>


</html>
